

.weather-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-section {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-section {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #349938;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.loading {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.notification {
  background-color: #010b04f5;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.weather-info {
  margin-top: 20px;
}

.map-section {
  margin-top: 20px;
}

